.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container .standard-container {
  width: 350px;
}
.container .image {
  width: 350px;
  height: 350px;
  margin: 3vh 0;
  border: 1px solid #adb5bd;
  box-shadow: 5px 5px #adb5bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .image img {
  max-width: 100%;
  height: auto;
}
.container .text {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  color: #000000;
  text-align: justify;
}
.container .contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container .contact-icon a {
  color: rgba(26, 24, 24, 0.568627451);
  font-size: 50px;
  text-decoration: none;
}
.container .text-cont {
  text-align: center;
  color: #000000;
}
.container .text-cont a {
  text-decoration: none;
  color: #000000;
}

.blog-background {
  background-color: rgb(241, 236, 236);
  overflow: inherit;
}

.blog-wrap {
  padding: 2vh;
}

.blog-title {
  text-align: center;
  padding: 5vw;
  margin: 2vw;
  background-color: #f7f7f9;
  border-radius: 10px;
}
.blog-title h2 {
  font-family: "Ubuntu", sans-serif;
  color: rgba(26, 24, 24, 0.568627451);
  font-size: 32px;
}

h2,
h5,
p {
  font-family: "Ubuntu", sans-serif;
  padding: 1vh;
}

.blog-list-wrap {
  float: right;
  width: 25%;
  background-color: inherit;
}

.blog-post-wrap {
  float: left;
  width: 75%;
  background-color: inherit;
}

.blog-list,
.blog-post {
  padding: 3vw;
  margin: 2vw;
  border-radius: 10px;
  background-color: #f7f7f9;
}
.blog-list span,
.blog-post span {
  font-weight: bold;
}

.blog-image {
  width: 350px;
  height: 200px;
  margin: 1vh 0;
  border: 1px solid #adb5bd;
}
.blog-image img {
  max-width: 100%;
  height: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f9;
}

main {
  height: 90vh;
  overflow: auto;
  margin: 3vw;
}

header .nav {
  padding: 2vw;
  overflow: hidden;
  font-family: "Poppins Light", sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav a {
  text-decoration: none;
  color: rgba(26, 24, 24, 0.568627451);
  padding: 10px 20px;
  border-radius: 5px;
}
header .nav .brand {
  font-size: 28px;
  padding: 10px 20px;
}
header .nav-list {
  list-style-type: none;
}
header .nav-list a:hover {
  background-color: lightgray;
}

footer {
  background: #adb5bd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .credit {
  display: flex;
  flex-direction: column;
}
footer .credit a {
  color: rgba(26, 24, 24, 0.568627451);
  font-family: "Poppins Light", sans-serif;
  font-size: 11px;
  text-decoration: none;
}
footer .name {
  color: rgba(26, 24, 24, 0.568627451);
  font-family: "Poppins Light", sans-serif;
}
footer .contact-icon a {
  text-decoration: none;
  color: rgba(26, 24, 24, 0.568627451);
  padding: 5px 10px;
}

.page-title {
  text-align: center;
  overflow: inherit;
  margin-top: 3vw;
}
.page-title h2 {
  font-family: "Ubuntu", sans-serif;
  color: rgba(26, 24, 24, 0.568627451);
  font-size: 32px;
  margin: 2vw 0;
}

.resume {
  text-align: center;
  margin: 4vw;
}
.resume button {
  display: inline-block;
  background-color: gray;
  color: white;
  text-transform: none;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 15px 32px;
  border-radius: 6px;
  transition: 2s;
}
.resume button:hover {
  background-color: #adb5bd;
}

@media only screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-list li:last-child {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .nav-list li:not(:last-child) {
    display: none;
  }
  .nav .icon {
    font-size: 28px;
  }
  .nav.response {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .nav.response .icon {
    position: absolute;
    right: 6px;
    top: 6px;
  }
  .nav.response li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 0px) {
  .name {
    font-size: 14px;
  }
  .contact-icon {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .name {
    font-size: 17px;
  }
  .contact-icon {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 1200px) {
  .blog-list-wrap,
.blog-post-wrap {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
