$primary-background: #f7f7f9;
$secondary-background: #adb5bd;
$nav-font-size: 17px;
$brand-font-size: 28px;
$nav-font-family: "Poppins Light",
sans-serif;
$nav-color: #1a181891;

$body-font-family: "Ubuntu",
sans-serif;

$bodyTitle-font-size: 32px;
$bodyTitle-color: #1a181891;


$body-font-size: 18px;
$body-color: #000000;

$credit-font-size: 11px;




// nav component 
@mixin nav() {

    // Set up for mobile first
    .nav {
        padding: 2vw;
        overflow: hidden;
        font-family: $nav-font-family;
        font-size: $nav-font-size;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav a {
        text-decoration: none;
        color: $nav-color;
    }

    .nav .brand {
        font-size: $brand-font-size;
        padding: 10px 20px;
    }

    .nav-list {
        list-style-type: none;
    }

    .nav-list li {
        padding: 10px 20px;
    }
}

// footer component
@mixin foot() {

    background: $secondary-background;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .credit {

        display: flex;
        flex-direction: column;
    }

    .credit a {
        color: $nav-color;
        font-family: $nav-font-family;
        font-size: $credit-font-size;
        text-decoration: none;
    }

    .name {
        color: $nav-color;
        font-family: $nav-font-family;

    }

    .contact-icon a {
        text-decoration: none;
        color: $nav-color;
        padding: 5px 10px;
    }



}

// page title component
@mixin pTitle() {
    text-align: center;

    margin-top: 8vw;

    h2 {
        font-family: $body-font-family;
        color: $bodyTitle-color;
        font-size: $bodyTitle-font-size;
        margin: 2vw 0;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .standard-container {

        width: 350px;
    }


    .image {
        width: 350px;
        height: 350px;
        margin: 3vh 0;
        border: 1px solid $secondary-background;
        box-shadow: 5px 5px $secondary-background;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .image img {

        max-width: 100%;
        height: auto;

    }

    .text {

        font-family: $body-font-family;
        font-size: $body-font-size;
        color: $body-color;
        text-align: justify;
    }

    .contact-icon {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;


        a {
            color: $nav-color;
            font-size: 50px;
            text-decoration: none;
        }
    }

    .text-cont {
        text-align: center;
        color: $body-color;

        a {
            text-decoration: none;
            color: $body-color
        }
    }

}


.blog-wrap {
    background-color: rgb(241, 236, 236);
}

.blog-title {
    text-align: center;
    padding: 5vw;
    margin: 2vw;
    background-color: $primary-background;
    position: relative;
    top: 2vw;
    border-radius: 10px;

    h2 {
        font-family: $body-font-family;
        color: $bodyTitle-color;
        font-size: $bodyTitle-font-size;

    }
}

.blog-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    flex-wrap: wrap;
    // margin-left: 10vw;

    // add these to a media query
    .blog-list {
        width: 500px;
    }

    .blog-post {
        width: 500px;
        ;
    }


}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-background;

}

main {

    height: 90vh;
    overflow: auto;
    margin: 3vw;

}

header {
    @include nav;
}

footer {
    @include foot;

}

.page-title {
    @include pTitle;
}


.resume {
    text-align: center;
    margin: 4vw;

    button {
        display: inline-block;
        background-color: gray;
        color: white;
        text-transform: none;
        font-family: $body-font-family;
        font-size: $body-font-size;
        font-weight: bold;
        border: none;
        padding: 15px 32px;
        border-radius: 6px;
        transition: 2s;
    }

    button:hover {
        background-color: lightgray;
    }
}



// Make nav bar responsive

@media only screen and (min-width: 1200px) {

    .nav-list {

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav-list li:last-child {
        display: none;
    }


}

@media only screen and (max-width: 1200px) {
    // css used when the hamburger is toggled
    // Note: .response class is added interactively by clicking on the hamburger.
    // This is done using the javascript - refer to script tags at the bottom of each page

    // show the hamburger by default
    .nav-list li:not(:last-child) {
        display: none;
    }

    // size the hamburger to be the same as the brand text
    .nav .icon {
        font-size: $brand-font-size;
    }

    .nav.response {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .nav.response .icon {
        position: absolute;
        right: 6px;
        top: 6px;
    }

    .nav.response li {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

}

// make footer responsive

@media only screen and (min-width: 0px) {


    .name {
        font-size: 14px;
    }

    .contact-icon {
        display: flex;
        flex-direction: column;
    }


}

@media only screen and (min-width: 768px) {

    .contact-icon {
        display: flex;
        flex-direction: row;
    }

    .name {
        font-size: $nav-font-size;
    }

}